.card {
    width: 360px;
    height: 300px;
    perspective: 800px;
    position: absolute;
    top: 170px;
    left: 170px;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%; 
    transition: transform 1s;
    transform-style: preserve-3d;
    border-radius: 30px;
    padding-top: 20px;

}

  .card:hover .content {
    transform: rotateY( -180deg ) ;
    transition: transform 0.5s;
  }
  
.front,
.back {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(160, 160, 160, 0);
    text-align: left;
    border-radius: 30px;
    backface-visibility: hidden;
}
  
.back {
    background: rgba(116, 116, 116, 0);
    color: white;
    transform: rotateY(180deg);
    border-radius: 30px;
}
