.hideSec{
    min-height: 100vh;
    width: 100%;
    position: fixed;
    background-color: rgb(52, 52, 52);
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hideBox{
    width: 100px;
    height: 100px;
    background: #380466;
    background: linear-gradient(150deg,rgba(56, 4, 102, 1) 0%, rgba(11, 104, 128, 1) 40%, rgba(0, 210, 154, 1) 100%);
}