*{
    margin: 0 auto;padding: 0;box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: rgb(14, 14, 16);
}
 .sec1, .sec2, .sec3, .sec4, .sec5{
    background-color: rgb(14, 14, 16);
 }

hr{
    border: 0;
    height: 0;
    border-top: 0.1px solid rgb(0, 0, 0);
    border-bottom: 0.1px solid rgb(69, 69, 69);
}

.sideNavi{
    position: fixed;
    width: 50px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 40%;
    z-index: 3;
    flex-direction: column;
    row-gap: .8rem;
    right: 2%;    
}

.sideNavi a{
    width: 15px;
    height: 15px;
    background-color: rgba(248, 248, 255, 0.689);
    text-decoration: none;
    cursor: pointer;
    transition: .5s all;
    box-shadow:0 0 3px rgb(39, 174, 149);
    position: relative;
    border-radius: 3px;
}

.sideNavi a:hover{
    transition: .5s all;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(32, 154, 138);
    background-color: rgb(41, 164, 146);
    scale: 1.7;
}

.sideNavi .current{
    transition: .5s all;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(0, 210, 182);
    background-color: rgb(0, 210, 179);
    scale: 1.7;
}

.sideNavi a::after{
    content: attr(data-title);
    position: absolute;
    background-color: #292929;
    color: ghostwhite;
    font-size: clamp(9px, .2vw, 35px);
    top: -25px;
    padding: 3px;
    border-radius: 4px;
    transition: 300ms;
    opacity: 0;
    pointer-events: none;
    transform: translateY(15px);
    right: 0%;
    margin-right: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.sideNavi a:hover::after{
    opacity: 1;
}

@media screen and (max-width:779px){
    .sideNavi a{
        display: none;
    }
}

.no-scroll {
    overflow: hidden;
    height: 100vh;
}