.sec1{
    width: min(100%, 3000px);
    min-height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto;
    position: relative;
    font-weight: bold;
    overflow-x: hidden;
}

@font-face { font-family: 'SpaceGrotesk-Bold'; 
			 src: url('fonts/SpaceGrotesk-Regular.otf'); }

/* HEADER */
.sec1 .headerWrap{
    width: 100%;
    display: flex;
    justify-content: center;
}

.sec1 header{
    display: flex;
    align-items: top;
    width: 100%;
}

.navi{
    width: 100%;
    display: flex;
    align-items: top;
    justify-content: space-evenly;
    margin-right: 10px;
    height: 46%;
    background: #3434341c;
    background: linear-gradient(90deg,#34343400 0%, #1f1f1f2f 50%, #1515158e 100%);
    border-radius: 2px;
    z-index: 1;
}

.logo{
    margin-left: 3.5vw;
    animation: slide .6s both;
    animation-delay: .05s;
    font-size: clamp(35px, 3vw, 150px);
    margin-right: 10px;
    background-image:-webkit-linear-gradient(220deg,rgba(42, 155, 125, 1) 0%, rgba(62, 163, 145, 1) 50%, rgb(24, 80, 65) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.sec1 .navi a{
    text-decoration: none;
    color: rgb(198, 198, 198);
    font-size: clamp(20px, 1.4vw, 45px);
    transition: .4s all;
    position: relative;
    top: 7px;
    height: 32%;
}

.sec1 .navi a:after {
  display:block;
  content: '';
  border-bottom: solid 3px #079186;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}

.sec1 .navi a:hover:after {
    transform: scaleX(1);
}

.sec1 .navi a.fromRight:after{ transform-origin:100% 50%; }
.sec1 .navi a.fromLeft:after{  transform-origin:  0% 50%; }

.a1{
    animation: slide .6s both;
    animation-delay: .15s;
}

.a2{
    animation: slide .6s both;
    animation-delay: .20s;

}
.a3{
    animation: slide .6s both;
    animation-delay: .25s;
 }

 .a4{
    animation: slide .6s both;
    animation-delay: .305s;
 }

@keyframes slide{
    from {transform: translatey(-20px); opacity: 0;}
    to {transform: translatey(0px);}
}

.hamburger {
    display: none;
    font-size: clamp(30px, 2.5vw, 80px);
    font-weight: 100;
    color: rgb(198, 198, 198);
    align-items: center;
    animation: slide .6s both;
    animation-delay: .1s;
    text-align: end;
    position: relative;
}

/* MAIN */

/* UDAJE */
.sec1 .mainWrapper{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 86vh;
}

.sec1 main{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90%;
}

.udajeWrap{
    position: relative;
    left: -50px;
}

.meno{
    color: rgb(230, 230, 230);
    font-size: clamp(23px, 2.2vw, 60px);
    background: #0f7665;
    background: linear-gradient(90deg,rgb(28, 104, 84) 0%, rgb(39, 104, 92) 50%, rgb(16, 53, 43) 100%);
    border-radius: 10px;
    font-weight: bold;
    padding:5px 10px 4px 10px;
    display: inline-block;
    animation: slide2 .7s both;
    animation-delay: .9s;
}

.adresa, .mail, .tel{
    padding-left: 10px;
    color: rgb(198, 198, 198);
    font-size: clamp(18px,1.5vw, 40px);
}

.adresa{
    margin-top: 20px;
    animation: slide2 .6s both;
    animation-delay: 1s; 
}

.mail{
    margin-top: 20px;
    animation: slide2 .6s both;
    animation-delay: 1.1s; 
}

.tel{
    margin-top:20px;
    animation: slide2 .6s both;
    animation-delay: 1.2s; 
}

@keyframes slide2{
    from {transform: translatex(-20px); opacity: 0;}
    to {transform: translatex(0px);}
}

/* ICO DIC */

.ico{
    /* width: 140px; */
    display: inline-block;
    color: rgb(230, 230, 230);
    animation: slide3 .4s both;
    animation-delay: 1.3s;
    margin-top: 40px;
    margin-right:43px;
}

.dic{
    /* width:140px; */
    display:inline-block;
    color: rgb(230, 230, 230);
    animation: slide3 .4s both;
    animation-delay: 1.4s;
    margin-top: 40px;
}

.ico :first-child,
.dic :first-child{
    font-size: clamp(13px, 1.3vw, 30px);
    background: #0f7665;
    background: linear-gradient(220deg,rgba(42, 155, 125, 1) 0%, rgba(62, 163, 145, 1) 50%, rgb(24, 81, 66) 100%);
    border-radius: 6px;
    font-weight: bold;
    padding:2px 10px;
    padding-top: 3px;
    display: inline-block;
    color: rgb(230, 230, 230);
}
.ico :last-child,
.dic :last-child{
    font-size: clamp(15px, 1.5vw, 25px);
    color: rgb(198, 198, 198)
}

@keyframes slide3{
    from {transform: translatey(20px); opacity: 0;}
    to {transform: translatey(0px);}
}

/* FOTKA */

.fotka{
    width: clamp(240px, 30vw, 600px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 300px;
    animation: pozadie 1s both;
    animation-delay: .5s;
    overflow: hidden;
    z-index: 1;
    border: 2px solid rgba(62, 163, 145, 1);
    background-color: rgb(14, 14, 16);

    box-shadow: 0px 0px 5px rgba(62, 163, 145, 1),
                0px 0px 10px rgba(62, 163, 145, 1),
                0px 0px 15px rgba(62, 163, 145, 1);
}

.fotka:hover .mojaFotka2{
    opacity: 1;
    transition: .5s all;
    filter: blur(0px);
}

.fotka:hover .mojaFotka{
    opacity: 0;
    transition: .5s all;
}

@keyframes pozadie{
  from{filter: blur(10px); opacity: 0;}
  to{filter: blur(0px); opacity: 1;}
}

.mojaFotka{
    width: clamp(240px, 28vw, 600px);
    /* animation: bl 1s both; */
    animation-delay: .6s;
    z-index: 3;
    transition: .5s all;
}

.mojaFotka2 {
    width: clamp(240px, 28vw, 600px);
    /* animation: bl 1s both; */
    animation-delay: .6s;
    position: absolute;
    z-index: 2;
    opacity: 0;
    transition: .5s all;
    filter: blur(20px);
}



.glowBox3{
    width: clamp(100px, 30vw, 500px);
    height: clamp(200px, 40vh, 700px);
    background-color: rgb(0, 160, 175);
    position: absolute;
    opacity: .3;
    z-index: 0;
    border-radius: 20px 100px;
    transform: translate(0, 100px);
    filter: blur(150px);
    top: -300px;
    right: -100px;
}

@keyframes bl{
  from{filter: blur(0px); opacity: 0;transform: translatey(20px)}
  to{filter: blur(0px); opacity: 1;}
}

/* MEDIA */

@media screen and (max-width:779px) {
    
    .hamburger {
        display: flex;
        cursor: pointer;
        margin-right: 4vw;
        position: relative;
        top: -2px;
        align-items: center;
        justify-content: center;
        font-weight: 100;
    }
    #closeHam {
        display: none;
        top: 0;
    }

    .sec1 .navi {
        margin: 0;padding: 0;
        display: none;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 76px;
        background-color: rgba(0, 0, 0, 0.86);
        opacity: 1;
        z-index: 1;
        height: 89vh;
        width: 100vw;
        align-items: center;
        justify-content: center;
        gap: 40px;
        border-radius: 20px 0 0 20px;
        z-index: 99;
    }
    .sec1 .navi a{
        padding: 0px; margin:0;
        font-weight: bold;
        text-align: center;
        background: #0f7665;
        background: linear-gradient(240deg,rgb(28, 104, 84) 0%, rgb(39, 104, 92) 50%, rgb(16, 53, 43) 100%);
        width: 15rem;
        border-radius: 5px;
        color:rgb(240, 240, 240);
        opacity: 1;
        top: 0;
        align-content: center;
        height: 30px;
    }

    .a1{
        animation: slide5 .6s both;
        animation-delay: .25s;
    }
    
    .a2{
        animation: slide5 .6s both;
        animation-delay: .35s;
    
    }
    .a3{
        animation: slide5 .6s both;
        animation-delay: .45s;
     }
    
     .a4{
        animation: slide5 .6s both;
        animation-delay: .55s;
     }

    @keyframes slide5{
        from {transform: translatex(20px); opacity: 0;}
        to {transform: translatex(0px);}
    }

    .udaje{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .udajeWrap{
        left: 0;
    }

    .ico{
        margin-top: 20px;
    }

    .dic{
        margin-top: 20px;
    }

    .sec1 .mainWrapper{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 89vh;
    }

    .sec1 main{ 
        align-items: center;
        justify-content: space-between;
        gap: 50px;
    }

    .adresa, .mail, .tel{
        margin-top: 10px;
    }

    .sec1 header{
        background: #3434341c;
        background: linear-gradient(90deg,#34343400 0%, #3434341f 50%, #34343471 100%);
    }

    .fotka{
        background-color: rgba(14, 14, 16, 0.092);    
    }

    .glowBox3{
        top: -200px;
        left: -400px;
    }
}

