.sec4{
    margin: 0;padding: 0;
    width: min(100%, 3000px);
    min-height: 100vh;
    background-color: rgb(28, 28, 28);
    /* font-family: 'Monoton'; */
    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto;
    /* padding-top: 80px; */
    display: grid;
}

@font-face {
    font-family: 'Monoton';
    src: url(fonts/Monoton-Regular.ttf) format("opentype");
}

.sec4 .p1{
    color: ghostwhite;
    font-size: clamp(20px ,2.5vw, 70px);
    font-weight: bold;
    text-align: center;
    width: calc(100% - 10px);
    display: block;
    /* border: 2px solid red; */
    place-content: end;
    position: relative;
    bottom: 30px;
}

.sec4 .p1 p{
    margin: 0 5px;
}

.skills{
    font-size: clamp(40px ,5vw, 120px);
    color: rgb(0, 210, 154);
}

/* ____MAIN____ */

.sec4 main{
    width: clamp(350px, 80vw, 2000px);
    height: clamp(400px, 10vw, 1200px);
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(10px, 8vw, 90px);
}

#h2wrapp{
    height: 80%;
    display: grid;
    gap: 10px;

}

.bttn{
    background-color:rgb(53, 53, 53);
    font-size: clamp(13px, 1.3vw, 40px);
    color: ghostwhite;
    display: flex;
    width: 16vw;
    max-width:400px;
    text-decoration: none;
    border: 1px solid rgb(0, 210, 154);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: .3s all;
    font-weight: bold;
    padding: 4px 0;
}

.bttn:hover, .active{
    cursor: pointer;
    background-color: #2c2c2c;
    color:rgb(0, 210, 154);
    transition: .3s all;
    box-shadow: 0px 0px 4px rgb(2, 135, 100),
                0px 0px 4px rgb(18, 170, 130), 
                0px 0px 4px rgb(31, 182, 142), 
                0px 0px 4px rgb(37, 203, 159);
}

.percenta{
    background-color: #2c2c2c;
    width: 100%;
    border-radius: 10px;
    min-height: 100%;
    box-shadow: 0px 0px 4px rgb(2, 135, 100),
                0px 0px 4px rgb(18, 170, 130), 
                0px 0px 4px rgb(31, 182, 142), 
                0px 0px 4px rgb(37, 203, 159);
}


/* TABULLKY S PERCENTAMI */


.percenta ul{
    margin: 20px;
    margin-left: clamp(30px, 3.8vw, 60px);
    font-size: clamp(16px, 1.8vw, 40px);
    font-weight: bold;
}

.percenta li{
    color: rgb(211, 211, 218);
    margin-bottom: 10px;
}

.wrappPer{
    min-height: 100%;
    opacity: 1;
    z-index: 1;
    background-color: #2c2c2c;
}

.hide{
    display: none;
    background-color: #2c2c2c;
    color:rgb(0, 210, 154)
}

@media screen and (max-width:951.2px){
    .sec4 main{
        display: grid;
        height: 100%;
        gap: 2px;
    }

    .sec4 .p1{
        bottom: -40px;
    }

    .percenta{
        min-width: 79vw;
        min-height: 260px;
    }
    .bttn{
        width: 210px;
    }
     
    #h2wrapp{
        margin-top: 20px;
    }
}