.sec1{
    width: min(100%, 3000px);
    min-height: 100vh;
    background-color: rgb(28, 28, 28);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    margin: 0 auto;
}

/* HEADER */
.sec1 .headerWrap{
    width: 100%;
    display: flex;
    justify-content: center;
}

.sec1 header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 10vh;
}

.navi{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-right: 10px;
}

.logo{
    color: rgb(255, 255, 255); 
    margin-left: 35px;
    animation: slide .6s both;
    animation-delay: .1s;
    font-size: clamp(40px, 4vw, 100px);
    letter-spacing: 2px;
    margin-right: 10px;
}

.navi a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: clamp(20px, 1.4vw, 50px);
    margin: 0 5px;
    margin-bottom: 30px;
    transition: .4s all;
}

a:hover{
    color: rgb(0, 210, 154);
    cursor: pointer;
}

.a1{
    animation: slide .6s both;
    animation-delay: .25s;
}

.a2{
    animation: slide .6s both;
    animation-delay: .35s;

}
.a3{
    animation: slide .6s both;
    animation-delay: .45s;
 }

 .a4{
    animation: slide .6s both;
    animation-delay: .55s;
 }

@keyframes slide{
    from {transform: translatey(-200px); opacity: 0;}
    to {transform: translatey(0px);}
}

.hamburger {
    display: none;
    font-size: 30px;
    font-weight: 800;
    color: white;
    align-items: center;
    animation: slide .6s both;
    animation-delay: .2s;
    text-align: end;
}

/* MAIN */
/* UDAJE */
  
.sec1 main{
    min-height: 90vh;
    display: flex;
    align-items: end;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.udaje{
    min-width: 430px;
    padding-bottom: clamp(0px, 12vh, 150px);
    padding-left: 150px;
}

.meno{
    color: rgb(21, 21, 21);
    font-size: clamp(20px, 2vw, 60px);
    background-color: rgb(0, 210, 154);
    border-radius: 10px;
    font-weight: bold;
    padding:0 10px;
    display: inline-block;
    animation: slide2 .7s both;
    animation-delay: 1s;
}

.adresa, .mail, .tel{
    padding-left: 10px;
}

.adresa{
    color: white;
    margin-top: 20px;
    font-size: clamp(15px,1.7vw, 50px);
    animation: slide2 .6s both;
    animation-delay: 1.2s; 
}

.mail{
    color: white;
    margin-top: 20px;
    font-size: clamp(15px, 2vw, 55px); 
    animation: slide2 .6s both;
    animation-delay: 1.4s; 
}

.tel{
    color: white;
    margin-top:20px;
    font-size: clamp(15px,1.7vw, 50px);
    animation: slide2 .6s both;
    animation-delay: 1.6s; 
}

@keyframes slide2{
    from {transform: translatex(-200px); opacity: 0;}
    to {transform: translatex(0px);}
}

/* ICO DIC */

.ico{
    /* width: 140px; */
    display: inline-block;
    color: #ffffff;
    animation: slide3 .4s both;
    animation-delay: 2s;
    margin-top: 40px;
    margin-right:43px;
}

.dic{
    /* width:140px; */
    display:inline-block;
    color: #ffffff;
    animation: slide3 .4s both;
    animation-delay: 2.2s;
    margin-top: 40px;
}

.ico :first-child,
.dic :first-child{
    font-size: clamp(10px, 1.3vw, 40px);
    background-color: rgb(0, 210, 154);
    border-radius: 6px;
    font-weight: bold;
    padding:0 10px;
    display: inline-block;
    color: black;
}
.ico :last-child,
.dic :last-child{
    font-size: clamp(13px, 1.6vw, 55px);
}

@keyframes slide3{
    from {transform: translatey(200px); opacity: 0;}
    to {transform: translatey(0px);}
}

/* FOTKA */

.fotka{
    width: 35vw;
    min-width: 490px;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1000px 0 0 1000px;
    animation: pozadie 1s both;
    animation-delay: 2.5s;

    background: rgb(0,0,0);
    background: linear-gradient(148deg, rgb(28, 28, 28) 50%, rgb(0,27, 22) 60%, rgb(0, 56, 46) 70%, rgb(0, 77, 63) 80%, rgb(0,94, 74) 90%, rgb(0,130, 119) 100%);
}

@keyframes pozadie{
  from{filter: blur(10px); opacity: 0;}
  to{filter: blur(0px); opacity: 1;}
}

.mojaFotka{
    min-width: 280px;
    width: 23.5vw;
    max-width: 700px;
    animation: bl 1s both;
    animation-delay: 2.7s;
}

@keyframes bl{
  from{filter: blur(0px); opacity: 0;transform: translatey(200px)}
  to{filter: blur(0px); opacity: 1;}
}

/* MEDIA */

@media screen and (max-width:920px) {
    .hamburger {
        display: inline-block;
        cursor: pointer;
        margin-right: 30px;
    }
    .hamburger #closeHam {
        display: none;
    }
    .navi {
        margin: 0;padding: 0;
        display: none;
        flex-direction: column;
        float: right;
        position: absolute;
        right: 0;
        top: 65px;
        background-color: rgb(28, 28, 28);
        width: 100vw;
        z-index: 1;
        padding-bottom: 30px;
        gap:8px;
    }
    .navi a{
        padding: 0px; margin:0;color: black;font-weight: bold;
        text-align: center;
        color: white;
        animation: none;
        background-color:rgb(0, 199, 146);
        width: 10rem;
        border-radius: 5px;
        color:rgb(28, 28, 28);
    }
    .ico{
        margin-top: 20px;
    }
    .dic{
        margin-top: 20px;
    }
    .udaje{
      margin-top: 20px;
      margin-bottom: 10px;
      padding-bottom: 0px;
      padding-left: 0px;
      display: flex;
      justify-content: start;
    }
    .fotka{
        margin-top: 0px;
    }
    .mojaFotka{
        margin-top: 0px;
    }
    .sec1 main{
        row-gap: 0px;
        column-gap: 0px;
        align-items: center;
        justify-content: center;
    }

    .adresa, .mail, .tel{
        margin-top: 10px;
    }
}
