.sec4{
    margin: 0;padding: 0;
    width: min(100%, 3000px);
    min-height: 100vh;
    background-color: rgb(28, 28, 28);
    /* display: flex;
    justify-content: center;    */
    /* font-family: 'Monoton'; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
    padding-top: 50px;
}

@font-face {
    font-family: 'Monoton';
    src: url(fonts/Monoton-Regular.ttf) format("opentype");
}

.sec4 .p1{
    color: ghostwhite;
    font-size: clamp(30px ,3vw, 70px);
    font-weight: bold;
    position: absolute;
    text-align: center;
    width: calc(100% - 10px);
}

.sec4 .p1 p{
    margin: 0 5px;
}

.skills{
    font-size: clamp(40px ,5vw, 120px);
    color: rgb(0, 210, 154);
}

/* ____MAIN____ */

.sec4 main{
    width: clamp(350px, 70vw, 2000px);
    min-height: 58vh;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
}

.h2wrapp{
    margin-top: 10px;
    display: inline-block;
}

.bttn{
    background-color:rgb(65, 64, 64);
    font-size: clamp(15px, 1.5vw, 40px);
    color: ghostwhite;
    display: block;
    width: clamp(80px, 9vw, 230px);
    min-width: 50px ;
    text-align: center;
    margin-left: 10px;
    padding: 2px 0;
    text-decoration: none;
    border: 1px solid #2c2c2c;
}

.bttn:hover{
    cursor: pointer;
    background-color: #2c2c2c;
    color:rgb(0, 210, 154)
}

.bttn.active{
    background-color: #2c2c2c;
    color:rgb(0, 210, 154)
}

.percenta{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 450px;
    background-color: #2c2c2c;
    margin: 10px 10px 30px 0;
}


/* TABULLKY S PERCENTAMI */


.percenta ul{
    margin: 10px 20px 20px 50px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: clamp(30px, 3vw, 45px);
    font-size: clamp(20px, 1.5vw, 40px);
}

.percenta li{
    color: rgb(186, 186, 186);
    margin-bottom: 10px;
}

.wrappPer{
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    opacity: 1;
    z-index: 1;
    background-color: #2c2c2c;
}

.hide{
    display: none;
}
