.sec2{
    width: min(100%, 3000px);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
}

.container2{
    display: flex;
    gap: 50px; 
    /* min-width: 400px; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    animation: none;
    margin:  20px 0;
}

.vzdelanie, .skusenosti, .jazyk{
    width: clamp(350px, 40vw, 1000px);
    border-radius: 10px;
    color: rgb(230, 230, 230);
    padding: 0 20px 20px 20px;
    background-color: #171717da;

    border:2px solid #1C1C1C;
    border-image: linear-gradient(to right bottom,rgb(9, 73, 133) 0%,rgba(0, 210, 154, 1) 100%)2;
}

.vzdelanie{
    margin-bottom: 10%;
}
.container2 h1{
    background: #0f7665;
    background: linear-gradient(90deg,rgba(42, 155, 125, 1) 0%, rgba(62, 163, 145, 1) 50%, rgba(35, 117, 95, 1) 100%);
    color: rgb(230, 230, 230);
    display: inline-block;
    padding: 2px 9px;
    position: relative;
    top: -20px;
    left: 10px;
    border-radius: 10px;
    font-size:clamp(25px, 2vw, 45px)
}

.sec2 h2{
    margin-bottom: 3px;
    color: white;
    text-decoration: underline;
    font-size:clamp(20px, 1.3vw, 40px)

}

.sec2 p{
    font-size:clamp(15px, .7vw, 35px);
    font-weight: 500;
}

/* SCALE BLUR EFFECT */

/* .skusenosti, .vzdelanie, .jazyk{
    transition: .3s ease-out;
}

.container2:hover .vzdelanie{
    filter: blur(5px);
    scale: 0.95;
}
.container2:hover .skusenosti{
    filter: blur(5px);
    scale: 0.95;
}
.container2:hover .jazyk{
    filter: blur(5px);
    scale: 0.95;
}
.container2:hover .skusenosti:hover{
    scale: 1.05;
    filter: blur(0px);
    box-shadow: 0 0 10px aquamarine,
                0 0 20px rgb(160, 255, 241);
}
.container2:hover .vzdelanie:hover{
    scale: 1.05;
    filter: blur(0px);
    box-shadow: 0 0 10px aquamarine,
                0 0 20px rgb(160, 255, 241);
}

.container2:hover .jazyk:hover{
    scale: 1.05;
    filter: blur(0px);
    box-shadow: 0 0 10px aquamarine,
                0 0 20px rgb(160, 255, 241);

} */

/* Scroll effect */

.sec2 .skusenosti{
    transition: .7s;
    transform: translateX(-20%);
    opacity: 0;
}

.sec2.show-animate .skusenosti{
    transform: translateX(0);
    opacity: 1;
}

.sec2 .vzdelanie {
    transform: translateX(20%);
    opacity: 0;
    transition: .7s;
}

.sec2.show-animate .vzdelanie{
    transform: translateX(0);
    opacity: 1;
}

.sec2 .jazyk {
    transform: translateX(20%);
    opacity: 0;
    transition: .7s;
}

.sec2.show-animate .jazyk{
    transform: translateX(0);
    opacity: 1;
}

@media screen and (max-width:951.2px){
    .container2{
        scale: 0.8;
    }
    .container2{
        margin: 0;
    }
}

