.sec5{
    margin: 0 auto;
    padding: 0;
    width: min(100%, 3000px);
    height: 100vh;
    background-color: rgb(28, 28, 28);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
}

.sec5 .contactBox{
    /* width: clamp(200px, 80vw, 3000px); */
    height: 90vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}

.motivation, .contactBoxsmall{
    width: 48%;
    /* height: 98%; */
    width: clamp(350px, 38vw, 1000px);
}

.motivation{
    padding: 40px 40px;
    text-align: center;
    font-size: clamp(12px,1vw,20px);
    
}

.motivation p, h1{
    color: ghostwhite;
}

.motivation h1{
    margin-bottom: 30px;
}

.contactBoxsmall{
    position: relative;
    display: block;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.avatar{
    width: clamp(100px, 25vw, 200px);
    margin-bottom: 1vh;
    position: relative;
}

.avatarbut{
    width: clamp(50px, 30vw, 200px);
    height: 30px;
}

.avatarImage{
    width:100%;
}